---
//
//  LanguageSwitch.astro
//  CV Hub
//
//  Created by Alexander Gusarov on 03.03.2026.
//  @spartan121
//
const { lang = 'en' } = Astro.props;
const path = Astro.url.pathname;
---

<div class="lang">
  <a class={lang === 'en' ? 'active' : ''} href={`${path}?lang=en`}>EN</a>
  <a class={lang === 'ru' ? 'active' : ''} href={`${path}?lang=ru`}>RU</a>
</div>